.addTransactionModal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.addTransactionModalContent {
  position: relative;
  padding: 60px 73px;
  width: 540px;
  min-height: 510px;
  border-radius: 20px;
  background-color: #ffffff;
}
.addTransactionTitle {
  font-family: var(--font-family-poppins);
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
}
.switchContainer {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}
.switchText {
  font-family: var(--font-family-circe-regular);
  font-weight: 700;
  font-size: 16px;
  line-height: 23.58px;
  color: #e0e0e0;
}
.switchIncomeActive {
  font-family: var(--font-family-circe-regular);
  font-weight: 700;
  font-size: 16px;
  line-height: 23.58px;
  color: #24cca7;
}
.switchExpenseActive {
  font-family: var(--font-family-circe-regular);
  font-weight: 700;
  font-size: 16px;
  line-height: 23.58px;
  color: #ff6596;
}
.amountDateFlex {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 40px;
}
.categoriesContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.categoriesInput {
  font-family: var(--font-family-circe-regular);
  height: 32px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
}
.categoriesInput:hover {
  border-bottom: 1px solid #24cca7;
  transition: all 0.3s ease;
}
.categoriesInput option {
  font-family: var(--font-family-circe-regular);
  font-size: 18px;
}

select {
  appearance: none;
}

.amountInput {
  border: none;
  outline: none;
  border-radius: 5px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.dateInput input {
  border: none;
  outline: none;
  border-radius: 5px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.commentInput {
  border: none;
  outline: none;
  border-radius: 5px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 40px;
}
.submitBtn {
  width: 300px;
  height: 50px;
  background-color: #24cca7;
  font-family: var(--font-family-circe-regular);
  font-weight: 400;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.btnsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}
.cancelBtn {
  width: 300px;
  height: 50px;
  font-family: var(--font-family-circe-regular);
  font-weight: 400;
  border: 1px solid #4a56e2;
  border-radius: 20px;
  color: #4a56e2;
  background-color: white;
  cursor: pointer;
}
