.valignTextMiddle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.group306 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navHeight {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  table-layout: fixed;
}

.navbarLinkContainer {
  background-color: var(--white);
  border-radius: 30px;
  display: flex;
  padding: 15px 20px;
  justify-content: space-between;
  align-items: center;
  min-width: 715px;
  width: fit-content;
  margin-bottom: 20px;
}

.navbar1 {
  display: flex;
  align-items: center;
  padding: 15px 0px;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid #dcdcdf;
  border: none;
  min-width: 620px;
  margin-left: 20px;
  width: 715px;
}

.navbarLinkContainer > div,
.navbar1 > div {
  flex: 1;
}

.navbarLinkCategory {
  margin-right: 10px;
}


.noData {
  margin-left: 20px;
  margin-top: 10px;
}

.btn {
  flex-basis: 26.66%; /* Set an equal width for each column */
}

.left {
  margin-left: 17px;
}

.circeRegularNormalWhite14px {
  color: var(--white);
  font-size: var(--font-size-s);
  font-weight: 400;
  font-style: normal;
}

.circeRegularNormalBlack16px {
  color: var(--black);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}

.circeBoldBlack18px {
  color: var(--black);
  font-size: var(--font-size-1);
  font-weight: 700;
  font-style: normal;
  flex-grow: 1;
}

.circeBoldBlack18pxDelete {
  color: var(--black);
  font-size: var(--font-size-1);
  font-weight: 700;
  font-style: normal;
  flex-grow: 1;
  color: white;
}

.circeBoldStrawberry16px {
  color: var(--strawberry);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}

.circeBoldCaribbeanGreen16px {
  color: var(--caribbean-green);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}

.circeBoldWhite18px {
  color: var(--white);
  font-size: var(--font-size-1);
  font-weight: 700;
  font-style: normal;
}

.circeRegularNormalWhite16px {
  color: var(--white);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}

.navbarLinkGiftForYourWife {
  margin-left: 10px;
}

.btn {
  align-items: center;
  background-color: var(--caribbean-green);
  border-radius: 18px;
  display: flex;
  justify-content: center;
  min-width: 67px;
  padding: 3px 12px;
}

.delete {
  letter-spacing: 0;
  line-height: normal;
  min-height: 18px;
  text-align: center;
  width: 43px;
  cursor: pointer;
}

.edit {
  height: 14px;
  width: 14px;
  transform: translateX(-20px);
  cursor: pointer;
}

.plus {
  margin-left: 15px;
}

.editionsGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vector1 {
  height: 1px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .circeRegularNormalBlack16px {
    flex-basis: 16.66%; /* Set an equal width for each column */
  }

  .navbarLinkPlace,
  .navbarLinkSum,
  .navbarLinkComment,
  .navbarLinkType,
  .navbarLinkCategory {
    flex-basis: 16.66%; /* Set an equal width for each column */
  }

  .navbarLinkDate1,
  .navbarLinkText1,
  .navbarLinkOther,
  .navbarLinkGiftForYourWife,
  .navbarLinkPhone,
  .vector1,
  .btn {
    flex-basis: 16.66%; /* Set an equal width for each column */
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
}

@media (max-width: 767px) {
  .group306 {
    margin-left: 0;
    max-width: 280px;
  }
  .navbarLinkSum {
    margin-left: 2px;
  }
  .navbarLinkContainer {
    padding: 10px;
  }
  .navbarLinkType {
    margin-left: 2px;
  }

  .navbarLinkComment {
    margin-left: 2px;
  }

  .navbarLinkCategory {
    margin-left: 2px;
  }
}

.noData{ color: #ff6596;  
  font-family: Poppins;
  font-size: 18px;
  text-align: center;}
