.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.group306 {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 306px;
  max-width: 715px;
}

.navHeight {
  overflow-y: scroll;
}
.navbarLinkContainer {
  background-color: var(--white);
  border-radius: 30px;
  display: flex;
  max-width: 715px;
  padding: 15px 20px;
}

.navbarLinkPlace {
  letter-spacing: 0px;
  line-height: normal;
  min-height: 27px;
  min-width: 38px;
}

.navbarLinkType {
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 72px;
  min-width: 37px;
  min-height: 27px;
}

.navbarLinkCategory {
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 47px;
  min-height: 27px;
  min-width: 71px;
}

.navbarLinkComment {
  letter-spacing: 0px;
  line-height: normal;
  min-height: 27px;
  min-width: 76px;
  margin-left: 75px;
}

.navbarLinkSum {
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 115px;
  min-height: 27px;
  min-width: 34px;
  text-align: right;
}

.navbar1 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 14px;
  padding-bottom: 12px;
  min-width: 575px;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid #dcdcdf;
  border: none;
}

.navbarLinkDate1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  min-height: 24px;
  min-width: 55px;
}

.navbarLinkText1 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 67px;
  margin-top: 1px;
  min-height: 24px;
  min-width: 7px;
  text-align: center;
}

.navbarLinkOther {
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 65px;
  margin-top: 1px;
  min-height: 24px;
  min-width: 42px;
}

.navbarLinkGiftForYourWife {
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 104px;
  margin-top: 1px;
  min-height: 24px;
  min-width: 117px;
}

.navbarLinkPhone {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 60px;
  margin-top: -1px;
  min-height: 24px;
  text-align: right;
  min-width: 48px;
}

.vector1 {
  align-self: flex-end;
  height: 1px;
  margin-top: 14px;
  width: 700px;
}

.circeRegularNormalWhite14px {
  color: var(--white);
  font-family: var(--font-family-circe-regular);
  font-size: var(--font-size-s);
  font-weight: 400;
  font-style: normal;
}

.circeRegularNormalBlack16px {
  color: var(--black);
  font-family: var(--font-family-circe-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}

.circeBoldBlack18px {
  color: var(--black);
  font-family: var(--font-family-circe-bold);
  font-size: var(--font-size-1);
  font-weight: 700;
  font-style: normal;
}

.circeBoldStrawberry16px {
  color: var(--strawberry);
  font-family: var(--font-family-circe-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}

.circeBoldWhite18px {
  color: var(--white);
  font-family: var(--font-family-circe-bold);
  font-size: var(--font-size-1);
  font-weight: 700;
  font-style: normal;
}

.circeRegularNormalWhite16px {
  color: var(--white);
  font-family: var(--font-family-circe-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-style: normal;
  font-family: 'Circe-Regular';
  font-weight: 400;
  src: url('https://fonts.animeapp.com/Circe-Regular') format('truetype');
}

.btn {
  align-items: center;
  background-color: var(--caribbean-green);
  border-radius: 18px;
  display: flex;
  justify-content: center; /* Add this line to center the content horizontally */
  text-align: center;
  min-width: 67px;
  padding: 3px 12px;
  margin-left: 9.27px;
}

.delete {
  letter-spacing: 0;
  line-height: normal;
  min-height: 18px;
  text-align: center;
  width: 43px;
}

.circeRegularNormalWhite14px {
  color: var(--white);
  font-size: var(--font-size-s);
  font-family: var(--font-family-circe-regular);
  font-weight: 400;
  font-style: normal;
}

.circeRegularNormalWhite14px {
  color: var(--white);
  font-size: var(--font-size-s);
  font-family: var(--font-family-circe-regular);
  font-weight: 400;
  font-style: normal;
}

.edit {
  height: 14px;
  width: 14px;
  margin-left: 40px;
}

.circeBoldStrawberry16px {
  color: var(--strawberry);
  font-family: var(--font-family-circe-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}

.circeBoldCaribbeanGreen16px {
  color: var(--caribbean-green);
  font-family: var(--font-family-circe-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}

.plus {
  margin-left: 63px;
}


@media (min-width: 768px) and (max-width: 1279px) {
  /* CSS rules for the specified resolution range */
  .group306 {
    margin-left: 0;
    max-width: 700px;
  }
  .navbarLinkSum {  
  margin-left: 15px; 
}
  .navbarLinkContainer {   
    padding: 10px;
  }
}

@media (min-width: 300px) {
  /* CSS rules for the specified resolution range */
  .group306 {
    margin-left: 0;
    max-width: 280px;
  }
  .navbarLinkSum {  
  margin-left: 2px; 
}
  .navbarLinkContainer {   
    padding: 10px;
  }
  .navbarLinkType {
  
  margin-left: 2px;

}

.navbarLinkComment {

  margin-left: 2px;
}

.navbarLinkCategory {
  
  margin-left: 2px;
  
}


}
