/* Common Styles */
.valignTextMiddle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.group306 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%; /* Adjust the max-width value as needed */
}

.navHeight {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.tableHeaderRow {
  background-color: var(--white);
  border-radius: 30px;
}

.tableHeaderCell {
  padding: 10px 20px;
  text-align: left;
}

.tableHeaderCell:first-child {
  padding-left: 40px;
}

.tableCell {
  padding: 10px 20px;
  text-align: left;
}

.tableRow:nth-child(even) {
  background-color: #f6f6f6;
}

.noData {
  margin-left: 20px;
  margin-top: 10px;
  color: #ff6596;
  font-family: Poppins;
  font-size: 18px;
  text-align: center;
}

.btn {
  background-color: var(--caribbean-green);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  padding: 15px;
  cursor: pointer;
  margin-left: auto;
}

.btn:hover {
  background-color: var(--caribbean-green-hover);
}

.circeBoldBlack18px,
.circeBoldBlack18pxDelete {
  color: var(--black);
  font-size: var(--font-size-1);
  font-weight: 700;
  font-style: normal;
  flex-grow: 1;
}

.circeBoldBlack18pxDelete {
  color: white;
}

.circeBoldStrawberry16px {
  color: var(--strawberry);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}

.circeBoldCaribbeanGreen16px {
  color: var(--caribbean-green);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}

.circeRegularNormalBlack16px {
  color: var(--black);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}

.circeRegularNormalWhite14px,
.circeRegularNormalWhite16px {
  color: var(--white);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}

.vector1 {
  margin-left: 10px;
}

.editionsGroup {
  display: flex;
  align-items: center;
}

.edit {
  cursor: pointer;
}

.btn:hover {
  background-color: var(--strawberry);
}

/* Responsive Media Queries */

@media screen and (max-width: 1279px) {
  .group306 {
    margin-left: 0;
    max-width: 100%; /* Adjust the max-width value as needed */
  }

  .center {
    text-align: none;
  }

  .tableHeaderCell,
  .tableCell {
    padding: 10px 12px;
  }
}



.btn:hover {
  background-color: var(--strawberry);
}
/* Responsive Media Queries */

@media screen and (max-width: 1279px) {
  .group306 {
    margin-left: 0;
    max-width: 100%; /* Adjust the max-width value as needed */
  }

  .center{text-align: none;}

  .tableHeaderCell,
  .tableCell {
    padding: 10px 12px;
  }
}

@media screen and (max-width: 1023px) {
  .navbar1 {
    flex-direction: column;
    min-width: auto;
    width: 100%;
    margin-left: 0;
  }

  .navbarLinkContainer {
    min-width: auto;
    width: 100%;
    margin-bottom: 10px;
  }
 .center{text-align: none;}
  .navbarLinkContainer > div,
  .navbar1 > div {
    flex: 1 1 100%; 
  }

  .navbarLinkPlace,
  .navbarLinkSum,
  .navbarLinkComment,
  .navbarLinkType,
  .navbarLinkCategory {
    flex-basis: 100%; 
    text-align: center;
  }

  .group306 {
    margin-left: 0;
    max-width: 100%; 
  }

  .tableHeaderRow,
  .tableRow {
    flex-direction: column;
    border-radius: 30px;
    margin-bottom: 10px;
  }

  .tableHeaderCell,
  .tableCell {
    padding: 10px 12px;
  }

  .tableCell:last-child {
    margin-bottom: 10px;
  }

  .editionsGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  .btn {
    margin: 0;
  }

  .vector1 {
    margin-left: 0;
    margin-top: 10px;
  }
}

.center{text-align: center;}

