ul {
  display: flex;
  flex-direction: row;
  gap: 38px;
  justify-content: center;
  padding: 0;
}
.list {
  margin-right: 10px;
}
.poppinsNormalBlack18px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-1);
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}
.poppinsBoldBlack18px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-1);
  font-weight: 700;
  font-style: normal;
}
.valignTextMiddle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.place {
  height: 27px;
  letter-spacing: 0;
  line-height: normal;
}
.exclude {
  width: 36px;
  height: 36px;
  border-radius: 6px;
}
.activeLink {
  font-style: bold;
}

@media screen and (min-width: 768px) {
  ul {
    flex-direction: column;
    padding-left: 35px;
    gap: 0;
  }

  .list {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .navTitle {
    display: flex;
    align-items: center;
  }

  .exclude {
    margin-right: 23px;
  }

  a {
    align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  ul {
    padding-left: 19px;
  }
}
