.diagram {
  position: relative;
  margin: 0 auto;
  width: 280px;
  height: 280px;
  margin-bottom: 32px;
}


.sumExpensesIntoDiagram {
  position: absolute;
  left: 140px;
  transform: translateX(-50%);
  top: 135px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26.53px;
}


@media screen and (min-width: 768px) {
  .diagram {
    width: 336px;
    height: 336px;
  }


  .sumExpensesIntoDiagram {
    top: 160px;
    left: 168px;
  }
}


@media screen and (min-width: 1280px) {
  .diagram {
    width: 288px;
    height: 288px;
  }


  .sumExpensesIntoDiagram {
    top: 132px;
    left: 144px;
  }
}